.card {
  max-width: 350px;
  max-height: 260px;
  display: flex;
  justify-content: center;
  margin: 8% 0;
  border-radius: 10px;
  img{
    object-fit: cover;
    height: 260px;
    max-width: 210px;
    border-radius: 10px 4px 4px 10px;
  }
  .description {
    margin-top: 30px;
    margin-left: 20px;
    text-align: left;
    h2 {
      font-size: 18px;
      margin-top: 14px;
      margin-bottom: 8px;
    }
    p {
      font-size: 14px;
      color: #796157;
      margin: 8px 0;
    }
    &Text {
      max-height: 125px;
    }
  }
}
