@import "../../../../styles/utils/variables";

.card {
  width: 348px;
  height: 260px;
  display: flex;
  justify-content: space-between;
  margin: 8% 0;
  border-radius: 10px;
  img{
    object-fit: cover;
    height: 100%;
    width: 60%;
    border-radius: 10px 4px 4px 10px;
  }
  .description {
    margin-top: 30px;
    text-align: left;
    width: 35%;
    
    &Text {
      h2 {
        font-size: 18px;
        margin-top: 14px;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        color: $font-color-secondary;
        margin: 8px 0;
      }
    }
  }
  &:hover {
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, .2);
  }
}
