.home {
  flex: 1;
  background-color: #f2e3ce;
  .background {
    position: relative;
    z-index: 0;
    &Img {
      position: absolute;
      top: -130px;
      left: 0;
      width: 100%;
      padding-bottom: 42.99%; /* Ratio d'aspect 1440:619 */
      background-image: url("/src/assets/images/library.png");
      background-size: cover;
      z-index: -1;
    }
  }
  .pageBody {
    position: relative;
    box-sizing: border-box;
    padding: 80px 60px;
    margin: 130px 5%;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 9px;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 7px;
      background-color: white;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
    }
  }
}
