.rating {
  display: flex;
  justify-content: space-between;
  max-width: 160px;
  
  .small, .medium, .large {
    &:hover {
      filter: invert(10%);
    }
  }
  .small {
    width: 23px;
    height: 23px;
  }
  
  .medium {
    width: 32px;
    height: 32px;
  }
  
  .large {
    width: 43px;
    height: 43px;
    
  }
}
