@import "../../styles/utils/mixins";

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  height: 90px;
  padding: 5px 5%;
  background-color: #fff;
  color: #000;
  .navbarLinks {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    .navbarItem {
      a {
        margin: 0 35px;
        border: none;
        background-color: inherit;
        color: inherit;
        font-family: inherit;
        font-size: 14px;
        padding: 0;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
        &.active {
          font-weight: bold;
        }
      }
    }
  }
}
.burgerButton {
  display: none;
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  color: inherit;
  padding: 0;
}
@include tablet-only {
  .navbar {
    .navbarLinks {
      li {
        a {
          margin: 0 15px;
        }
      }
    }
  }
}
@include mobile-only {
  .navbar {
    padding: 5px 3%;
    height: 70px;
    .navbarLinks {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      box-sizing: border-box;
      right: -100vw;
      bottom: 0;
      width: 0;
      height: 100vh;
      padding: 2rem;
      visibility: hidden;
      background-color: #fff;
      z-index: 1;
      .navbarItem {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
        text-transform: uppercase;
        transform: translateY(100vh);
      }
    }
  }
  .burgerButton {
    display: block;
    position: fixed;
    right: 1rem;
    z-index: 1;
    &:hover {
      cursor: pointer;
    }
    &Bar,
    &Bar::before,
    &Bar::after {
      display: block;
      width: 30px;
      height: 3px;
      position: relative;
      border-radius: 3px;
      background-color: #000;
      transition: all 0.3s ease-in-out;
    }
    &Bar::before,
    &Bar::after {
      content: "";
      position: absolute;
      left: 0;
    }
    &Bar::before {
      transform: translateY(-10px);
    }
    &Bar::after {
      transform: translateY(10px);
    }
    .showLinks &Bar {
      width: 0;
      background: transparent;
    }
    .showLinks &Bar::before {
      transform: rotate(45deg);
    }
    .showLinks &Bar::after {
      transform: rotate(-45deg);
    }
  }
  .showLinks {
    .navbarLinks {
      right: 0;
      width: 100vw;
      visibility: visible;
      transition: all 0.3s ease-out;
      .navbarItem {
        width: max-content;
        height: fit-content;
        transform: translateY(0);
        text-align: center;
        a {
          margin: 0;
          &:hover {
            text-decoration: none;
          }
        }
        &::after {
          content: "";
          display: block;
          margin: 0 auto;
          width: 5vw;
          height: 2px;
          background-color: #000;
        }
        &:hover {
          cursor: pointer;
        }
        &:hover::after {
          cursor: pointer;
          width: 15vw;
          transition: all 0.2s ease-in-out;
        }
      }
      .slideIn_1 {
        transition: all 0.4s ease-out;
      }
      .slideIn_2 {
        transition: all 0.5s ease-out;
      }
      .slideIn_3 {
        transition: all 0.6s ease-out;
      }
    }
  }
}
