.hero {
    position: relative;
    margin-bottom: 120px;
    svg{
        position: absolute;
        top: 30%;
        left: 10%;
    }
    p {
        margin-top: 11px;
        margin-bottom: 28px;
        font-size: 28px;
    }
    button {
        position: relative;
    }
}