@import '../../../../styles/utils/mixins';

.hero {
  position: relative;
  margin-bottom: 120px;
  .svgContainer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    .svg-content {
      display: inline-block;
      position: absolute;
      top: 30%;
      left: 10%;
    }
  }
  p {
    margin-top: 11px;
    margin-bottom: 28px;
    font-size: 28px;
  }
  &CTA {
    position: relative;
  }
}

@include mobile-only {
  .hero {
    margin-bottom: 40px;
    .svgContainer {
      .svg-content {
        top: 20%;
        left: 0;
        width: 100%;
        text-align: center;
      }
    }
    p {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 20px;
    }
  }
}