@import '../../styles/utils/variables.scss';
@import '../../styles/utils/mixins.scss';
.return {
    display: flex;
    margin-top: 0;
    margin-bottom: 60px;
    p {
        margin-left: 8px;
        font-family: $font-secondary;
        color: $font-color-secondary;
    }
}

@include mobile-only {
    .return {
        margin-bottom: 10px;
        margin-left: 20px;
    }
}

@include tablet-only {
    .return {
        margin-bottom: 10px;
        margin-left: 20px;
    }
}
