.nav {
  a {
    text-decoration: none;
    margin: 0 0.5rem;
    border: none;
    background-color: inherit;
    color: inherit;
    font-family: inherit;
    font-size: 14px;
    padding: 0;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
    &.active {
      font-weight: bold;
    }
  }
}
