$font-primary: 'Libre Baskerville', serif;
$font-secondary: 'DM Sans', sans-serif;

$color-primary: #d9a963;
$color-secondary: #f2e3ce;
$color-tertiary: #f9f3ee;
$color-quaternary: #b99056;

$font-color-primary: #2c1810;
$font-color-secondary: #796157;