@import "../utils/variables";
@import "../utils/mixins";

//styles for AuthForm and AddBookForm

.formContainer {
  background-color: $color-tertiary;
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
  width: fit-content;
  height: fit-content;
  margin: 50px auto;
  padding: 50px 0;
  .inputWrapper {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 35px;
    padding: 0 60px;
    label {
      font-family: $font-secondary;
      font-size: 18px;
      margin-bottom: 15px;
    }
    input {
      border-radius: 3px;
      border: 1px solid $color-secondary;
      color: inherit;
      background: white;
      font-size: 25px;
      padding: 15px 25px;
    }
    p {
      color: red;
      text-align: center;
      font-family: $font-secondary;
      font-weight: bold;
    }
    //AddBookForm specific styles
    .fileArea {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      padding: 40px 80px;
      border-radius: 3px;
      border: 1px dashed $color-secondary;
      button {
        height: 60px;
        width: 60px;
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 10px;
        font-size: 38px;
        text-align: center;
        padding: 0;
        border: 1px solid $color-primary;
        &:hover {
          background: $color-quaternary;
          color: $color-secondary;
        }
      }
      p,
      a {
        margin-left: 12px;
        color: $font-color-secondary;
        font-family: $font-secondary;
      }
      a {
        margin-left: 30px;
        text-decoration: underline;
        cursor: pointer;
      }
      img {
        height: 80px;
        width: 80px;
        object-fit: cover;
      }
    }
  }
  .actionContainer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0 18px;
    }
  }
}

@include mobile-only {
  .formContainer {
    .inputWrapper {
      padding: 0 30px;
      text-align: center;
      align-items: center;
      input {
        font-size: 16px;
        padding: 15px 25px;
        align-self: center;
      }
      .fileArea {
        padding: 20px 40px;
      }
    }
    .actionContainer{
      margin-top: 30px;
      p {
        margin: 0 10px;
      }
    }
  }
}
