@import "../../../styles/utils/variables";

.footer {
  height: 112px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 0;
  p {
    font-size: 14px;
    font-family: $font-secondary;
    margin: 0;
  }
  .adress,
  .copyright,
  .mentions {
    height: 100%;
    display: flex;
    flex: 1 1 0%;
  }
  .adress {
    align-items: center;
    justify-content: space-around;

    .imageContainer {
      margin-left: 70px;
      position: relative;
      display: inline-block;
      img {
        width: 80px;
        height: 80px;
        border-radius: 14px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: $color-primary;
      }
    }
    .adressContainer {
      a {
        font-size: 14px;
        font-family: $font-secondary;
        color: $font-color-secondary;
        margin-top: 6px;
        text-decoration: underline;
      }
    }
    .phone {
      align-self: end;
      padding-bottom: 26px;
    }
  }
  .copyright {
    justify-content: center;
    align-items: end;
    p {
      margin-bottom: 30px;
    }
  }
  .mentions {
    justify-content: end;
    align-items: end;
    p {
      margin-right: 60px;
      padding-bottom: 30px;
    }
  }
}
