@import "../../../../styles/utils/variables";
@import "../../../../styles/utils/mixins";

.auth {
  flex: 1;
  background-color: $color-secondary;
  text-align: center;
  img{
    width: 450px;
    margin-top: 200px;
  }
}
@include mobile-only {
  .auth {
    img{
      width: 300px;
      margin-top: 80px;
    }
  }
}
