.book {
  flex: 1;
  background-color: #f9f3ee;
  .background {
    position: relative;
    z-index: 0;
  }
  .pageBody, .pageDeleted {
    position: relative;
    box-sizing: border-box;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
  }
  .pageBody {
    padding: 50px 110px 59px 120px;
    margin: 130px 5%;
    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 9px;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: 7px;
      background-color: white;
      box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.08);
    }
  }
  .pageDeleted {
    padding: 130px 110px 150px 120px;
    margin: 60px 5% 100px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-height: 350px;
      margin-top: 25px;
      margin-bottom: 80px;
    }
  }
}
