@import "../utils/variables";
@import "../utils/mixins";

body, #root {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: $font-color-primary;
}

button {
  cursor: pointer;
  padding: 20px;
  background-color: $color-primary;
  color: $font-color-primary;
  font-family: $font-secondary;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  &:hover {
    background-color: $color-quaternary;
    color: white;
  }
  &:disabled {
    opacity: 0.5;
  }
}
h1, h3{
  margin: 0;
  color: $font-color-secondary;
  font-size: 44px;
  font-style: italic;
  font-weight: 400;  
}
h3 {
  font-size: 34px;
}

@include mobile-only {
  h1 {
    font-size: 34px;
  }
  h3 {
    font-size: 24px;
  }
  button{
    font-size: 14px;
    padding: 15px;
  }
}